# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
neat-checkpoint-94
neat-checkpoint-9
neat-checkpoint-89
neat-checkpoint-84
neat-checkpoint-79
neat-checkpoint-74
neat-checkpoint-69
neat-checkpoint-64
neat-checkpoint-59
neat-checkpoint-54
neat-checkpoint-499
neat-checkpoint-494
neat-checkpoint-49
neat-checkpoint-489
neat-checkpoint-484
neat-checkpoint-479
neat-checkpoint-474
neat-checkpoint-469
neat-checkpoint-464
neat-checkpoint-459
neat-checkpoint-454
neat-checkpoint-449
neat-checkpoint-444
neat-checkpoint-44
neat-checkpoint-439
neat-checkpoint-434
neat-checkpoint-429
neat-checkpoint-424
neat-checkpoint-419
neat-checkpoint-414
neat-checkpoint-409
neat-checkpoint-404
neat-checkpoint-4
neat-checkpoint-399
neat-checkpoint-394
neat-checkpoint-39
neat-checkpoint-389
neat-checkpoint-384
neat-checkpoint-379
neat-checkpoint-374
neat-checkpoint-369
neat-checkpoint-364
neat-checkpoint-359
neat-checkpoint-354
neat-checkpoint-349
neat-checkpoint-344
neat-checkpoint-34
neat-checkpoint-339
neat-checkpoint-334
neat-checkpoint-329
neat-checkpoint-324
neat-checkpoint-319
neat-checkpoint-314
neat-checkpoint-309
neat-checkpoint-304
neat-checkpoint-299
neat-checkpoint-294
neat-checkpoint-29
neat-checkpoint-289
neat-checkpoint-284
neat-checkpoint-279
neat-checkpoint-274
neat-checkpoint-269
neat-checkpoint-264
neat-checkpoint-259
neat-checkpoint-254
neat-checkpoint-249
neat-checkpoint-244
neat-checkpoint-24
neat-checkpoint-239
neat-checkpoint-234
neat-checkpoint-229
neat-checkpoint-224
neat-checkpoint-219
neat-checkpoint-214
neat-checkpoint-209
neat-checkpoint-204
neat-checkpoint-199
neat-checkpoint-194
neat-checkpoint-19
neat-checkpoint-189
neat-checkpoint-184
neat-checkpoint-179
neat-checkpoint-174
neat-checkpoint-169
neat-checkpoint-164
neat-checkpoint-159
neat-checkpoint-154
neat-checkpoint-149
neat-checkpoint-144
neat-checkpoint-104
neat-checkpoint-109
neat-checkpoint-114
neat-checkpoint-119
neat-checkpoint-124
neat-checkpoint-129
neat-checkpoint-134
neat-checkpoint-139
neat-checkpoint-14
neat-checkpoint-99
